
Welcome Chat! <br><br>

Received Message : {{message}}<br>
<button id="joinButtonPressed" {{action "joinButtonPressed"}}>Press Me</button>
<form>
{{!-- <input type="text" name="var"  id="msg" /> --}}
{{input type='text' value=var}}
<button type="submit" {{action "sendButtonPressed"}} >Send</button>
</form>